
.container{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // font-size: calc(10px + 2vmin);
    // background-image: url('../../assets/1.jpg');
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    background-color: #fff;
}

.logo-name{
    color: rgba(128,0,128,1);
    text-transform: uppercase;
    // transform: rotate(-23.5deg);
    margin-bottom: 20px;
    
}

.filter{
    &::after{
        background-color: rgba(0, 0, 0, 0.0);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
}

.c-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    // margin-bottom: -25%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 8% 5%;
    border-radius: 10%;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hidden {
     display:none; }

.i-div{
    // align-items: center;
    // justify-content: center;
    text-align: center;
}
     
.b-ui{
    margin: 5%;
    text-align: center;
    min-width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-logo{
    height: 100px;
    width: 100px;
    margin-bottom: 5%;
    border-radius: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}